# Python
venv/
__pycache__/
*.pyc
*.pyo

# Environment variables / secrets
.env
.env.*
*.pem

# Status-Page local configuration
statuspage/statuspage/configuration.py

# IDE / OS
.vscode/
.idea/
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*


# Terraform plan files
*.tfplan
register-domain.json
*.tfplan.json
monitoring/default-values.yaml
monitoring/rendered.yaml
*.swp
